<footer>
    <div class="container pt-3">
        <div class="row pt-3 border-top">
            <div class="col">
              <p class="text-left font-weight-bold text-dark"><img  src="/img/logo1.png" 
                width="3%">insanoo.github.io by <a href="https://instagram.com/insandistas" class="badge badge-primary text-wrap" style="width: 6rem;">@insandistas</a></p>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
              <p>Sanitarium blog is just post article about my personal journal, might also be called my notes.</p> 
            </div>
          </div>
      <div class="row pb-3">
        <div class="col-auto mr-auto">
          <p  href="https://insanoo.github.io/">&copy; Insan Gumelar Nugraha <a class="font-weight-bold text-dark">FAQ</a> <a class="font-weight-bold text-dark">Terms</a> <a class="font-weight-bold text-dark">Privacy</a></p> 
        </div>
        <div class="col-auto">
          <p>Follow me on: <a href="https://twitter.com/insaanoo" class="badge badge-info text-wrap" style="width: 6rem;">Twitter</a>
                           <a href="https://www.facebook.com/insan.gumelarnugraha" class="badge badge-primary text-wrap" style="width: 6rem;">Facebook</a>
                           <a href="https://www.youtube.com/channel/UCTgZZ8kr7dLMfCZgoABzVVg" class="badge badge-danger text-wrap" style="width: 6rem;">Youtube</a>
            </p>
        </div> 
      </div>
    </div>
</footer>
{{- partial "js-init.html" . -}}
