<section class="container text-monospace mt-5">
	<div class="container text-center">
		<img class="rounded-circle" src='{{ "img/pp.jpg" | absURL }}' width="200px"/>
		<h3 class="mt-3"  href="https:insanoo.github.io"><img  src="/img/logo1.png" width="3%"> {{ .Site.Title }}</h3>
		
				<div class="row justify-content-center ">
					<div class="col-md-6 col-xs-12">
						<h4 ><b> Hai, saya Insan Gumelar Nugraha </b></h4>
						<p>Welcome To My Spectrum! "Kadang susah adalah pertanda baik pembatas antara yang mau serius dan tidak."</p>
						</div>
				 </div>
	</div>
</section>
